In [8]:
import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [12]:
eshop = pd.read_csv('C:\Asus WebStorage\psabin@gmail.com\MySyncFolder\Data Science Course\E-Commerce\Sample-Superstore3.csv')

In [9]:
path = r'C:\\Asus WebStorage\\psabin@gmail.com\\MySyncFolder\\Data Science Course\\E-Commerce\\'
eshop_db = sqlite3.connect('eshop_database.db')
c = eshop_db.cursor()

In [10]:
c.execute("SELECT * FROM customers WHERE segment = 'Corporate'")
rows = c.fetchall()

In [11]:
# What is the category generating the maximum sales revenue?
SELECT category, SUM(sales)
FROM order_details
JOIN products ON order_details.product_id=products.product_id
GROUP BY products.category

   # What about the profit in this category?
   # Are they making a loss in any categories?

In [14]:
c.execute("ALTER TABLE addresses RENAME COLUMN address_id TO AddressID;")
c.execute("ALTER TABLE addresses RENAME COLUMN country TO Country;")
c.execute("ALTER TABLE addresses RENAME COLUMN city TO City;")
c.execute("ALTER TABLE addresses RENAME COLUMN state TO State;")
c.execute("ALTER TABLE addresses RENAME COLUMN postal_code TO PostalCode;")
c.execute("ALTER TABLE addresses RENAME COLUMN region TO Region;")

In [15]:
c.execute("ALTER TABLE customers RENAME COLUMN customer_id TO CustomerID;")
c.execute("ALTER TABLE customers RENAME COLUMN first_name TO FirstName;")
c.execute("ALTER TABLE customers RENAME COLUMN surname TO Surname;")
c.execute("ALTER TABLE customers RENAME COLUMN segment TO Segment;")

In [16]:
c.execute("ALTER TABLE order_details RENAME COLUMN row_id TO RowID;")
c.execute("ALTER TABLE order_details RENAME COLUMN order_id TO OrderID;")
c.execute("ALTER TABLE order_details RENAME COLUMN product_id TO ProductID;")
c.execute("ALTER TABLE order_details RENAME COLUMN quantity TO Quantity;")
c.execute("ALTER TABLE order_details RENAME COLUMN discount TO Discount;")
c.execute("ALTER TABLE order_details RENAME COLUMN sales TO Sales;")
c.execute("ALTER TABLE order_details RENAME COLUMN profit TO Profit;")

In [18]:
c.execute("ALTER TABLE orders RENAME COLUMN order_id TO OrderID;")
c.execute("ALTER TABLE orders RENAME COLUMN order_date TO OrderDate;")
c.execute("ALTER TABLE orders RENAME COLUMN ship_date TO ShipDate;")
c.execute("ALTER TABLE orders RENAME COLUMN ship_mode TO ShipMode;")
c.execute("ALTER TABLE orders RENAME COLUMN customer_id TO CustomerID;")
c.execute("ALTER TABLE orders RENAME COLUMN address_id TO AddressID;")

In [19]:
c.execute("ALTER TABLE products RENAME COLUMN product_id TO ProductID;")
c.execute("ALTER TABLE products RENAME COLUMN product_name TO ProductName;")
c.execute("ALTER TABLE products RENAME COLUMN category TO Category;")
c.execute("ALTER TABLE products RENAME COLUMN sub_category TO SubCategory;")

In [21]:
c.execute("ALTER TABLE order_details RENAME TO OrderDetails;")

In [22]:
c.execute("ALTER TABLE addresses RENAME TO arr;")

In [23]:
c.execute("ALTER TABLE arr RENAME TO Addresses;")

In [24]:
c.execute("ALTER TABLE customers RENAME TO cus;")
c.execute("ALTER TABLE cus RENAME TO Customers;")
c.execute("ALTER TABLE orders RENAME TO ord;")
c.execute("ALTER TABLE ord RENAME TO Orders;")
c.execute("ALTER TABLE products RENAME TO pro;")
c.execute("ALTER TABLE pro RENAME TO Products;")

In [26]:
c.close()